body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 0 auto;
    width: 100%;
    max-width: 90vw;
    line-height: 1.5;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.hamburger {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: flex;
        position: static;
        gap: 1rem;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 80ch;
    padding: 1rem !important;
    flex-shrink: 0;
}
