---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>loaf.party</title>
    </head>
    <style>
        body {
            margin: 2%;
        }
    </style>
    <body>
        <a href="/">home</a>
        <a href="/about/">about</a>
        <a href="/blog/">blog</a>

        <h1>about me</h1>
        <h2>david metcalf, web developer</h2>
        <p>
            if you are looking for a bit about me, please head to
            <a href="https://metcalf.dev" target="_blank">metcalf.dev</a>
            to view my portfolio site.
        </p>
    </body>
</html>
