---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>loaf.party</title>
    </head>
    <style>
        body {
            margin: 2%;
        }
    </style>
    <body>
        <a href="/">home</a>
        <a href="/about/">about</a>
        <a href="/blog/">blog</a>

        <h1>blog</h1>
        <h2>so many things to share... i think?</h2>
        <p>
            we'll see where this goes
        </p>
    </body>
</html>
