---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';

const pageTitle = 'blog';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.fluid.classless.min.css">
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />

        <h1>{pageTitle}</h1>
        <h2>so many things to share... i think?</h2>
        <p>
            we'll see where this goes
        </p>

        <ul>
            <li>
                <a href="/posts/post-1/">Post 1</a>
            </li>
            <li>
                <a href="/posts/post-2/">Post 2</a>
            </li>
            <li>
                <a href="/posts/post-3/">Post 3</a>
            </li>
            <li>
                <a href="/posts/post-4/">Post 4</a>
            </li>
            <li>
                <a href="/posts/post-5/">Post 5</a>
            </li>
            <li>
                <a href="/posts/post-6/">Post 6</a>
            </li>
        </ul>

        <Footer />
    </body>
</html>
