---
import '../styles/global.css';
import Navigation from '../components/navigation.astro';

const pageTitle = 'loaf.party';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.fluid.classless.min.css">
        <title>{pageTitle}</title>
    </head>
    <body>
        <Navigation />

        <h1>{pageTitle}</h1>

        <p>
            building in public, one loaf at a time
        </p>
        
        <p>
            content is all copy-pasta filler for now, and styling is whatever
        </p>
    </body>
</html>
