---
const github = "github";
const userName = "gloriousLoaf"
---

<footer>
    <p>
        portfolio <a href="https://www.metcalf.dev" target="_blank">metcalf.dev</a>
    </p>
    <p>
        github <a href={`https://www.${github}.com/${userName}`} target="_blank">@{userName}</a>
    </p>
</footer>