--- 
---
<style>
    button.hamburger {
        background-color: inherit;
        border: none;
        padding: 10px 0;
    }
</style>
<button class="hamburger" type="button" aria-label="Expand or collapse menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>